<div class="box tabular">
  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>

  </p>

  <p>
    <%= f.label :role_id %><br />
    <%= f.collection_select(:role_id, Role.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :icon_class %><br />
    <%= f.text_field :icon_class %>
  </p>
</div>
