<div class="contextual">
  <%= link_to l(:label_new_quick_link), new_quick_link_path, :class => 'icon icon-add' %>
</div>
<h2>Quick Links</h2>
<table class="list">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Label</th>
      <th>Description</th>
      <th>Hyperlink</th>
      <th>Project</th>
      <th>Role</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <% QuickLink.all.each do |link| %>
    <tr>
      <td><%= link_to("", "#", :class => "icon-only #{link.icon_class}" ) %></td>
      <td><%= link.label %></td>
      <td><%= link.description %></td>
      <td><%= link_to( link.link, link.link ) %></td>
      <td><%= Project.find_by(id: link.project_id).name %></td>
      <td><%= Role.find_by(id: link.role_id).name %></td>
      <td class="buttons" >
        <%= link_to(l(:button_edit), edit_quick_link_path(link), :class => 'icon icon-edit') %>
        <%= delete_link quick_link_path(link) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
