<div class="contextual">
  <%= link_to l(:label_new_quick_link), new_quick_link_path, :class => 'icon icon-add' %>
</div>
<h2>Quick Links</h2>
<table class="list">
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Hyperlink</th>
      <th>Project ID</th>
      <th>Role ID</th>
      <th>Icon</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% QuickLink.all.each do |link| %>
    <tr>
      <td><%= link.label %></td>
      <td><%= link.description %></td>
      <td><%= link_to( link.link, link.link ) %></td>
      <td><%= link.project_id %></td>
      <td><%= link.role_id %></td>
      <td><%= link_to("", "#", :class => "icon #{link.icon_class}" ) %></td>
      <td><%= delete_link quick_link_path(link) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
